@model MovieSubscription.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)
{
    <h2>No customer details found</h2>
}
else
{
    <h2>@Model.Name</h2>
}

